<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Home</title>
</head>

<body>
  <nav>
    <%- include('../partials/header'); %>
  </nav>
  <content>
    Home
  </content>
  <footer> <%- include('../partials/footer'); %></footer>
</body>

</html>