<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Stats</title>
</head>

<body>
    <nav>
        <%- include('../partials/header'); %>
    </nav>
    <content>
        Stats
    </content>
    <footer> <%- include('../partials/footer'); %></footer>
</body>

</html>